# 課題

## 組み合わせ: ピタゴラスの三数

正の整数 $p$, $q$ $(p>q)$ に対して、

$$
  \begin{align}
    a & =  2 p q \\
    b & =  p^2 - q^2\\
    d & =  p^2 + q^2\\
  \end{align}
$$

とおくと、$a$, $b$, $d$ はピタゴラスの三数となり、$a^2+b^2 = d^2$ を満たす。

解) 恒等式

$$
  (x-y)^2 = (x+y)^2 - 4xy
$$

に対して $x=p^2$, $y=q^2$ とおいて $p$, $q$ を消去する。

$$
  \begin{align}
    (p^2-q^2)^2 &= (p^2+q^2)^2 - 4p^2q^2 \\
    b^2 &= d^2 - a^2
  \end{align}
$$

## Plimpton 322の数表を生成する

In [2]:
import itertools
import math
import numpy as np

### 60進法の基数を組み合わせた合成数を生成する

* [Composite number - Wikipedia](https://en.wikipedia.org/wiki/Composite_number)

In [9]:
list(itertools.combinations_with_replacement((2, 3, 5), 3))

[(2, 2, 2),
 (2, 2, 3),
 (2, 2, 5),
 (2, 3, 3),
 (2, 3, 5),
 (2, 5, 5),
 (3, 3, 3),
 (3, 3, 5),
 (3, 5, 5),
 (5, 5, 5)]

In [9]:
list(itertools.combinations_with_replacement((2, 3, 5), 3))

[(2, 2, 2),
 (2, 2, 3),
 (2, 2, 5),
 (2, 3, 3),
 (2, 3, 5),
 (2, 5, 5),
 (3, 3, 3),
 (3, 3, 5),
 (3, 5, 5),
 (5, 5, 5)]

In [9]:
list(itertools.combinations_with_replacement((2, 3, 5), 3))

[(2, 2, 2),
 (2, 2, 3),
 (2, 2, 5),
 (2, 3, 3),
 (2, 3, 5),
 (2, 5, 5),
 (3, 3, 3),
 (3, 3, 5),
 (3, 5, 5),
 (5, 5, 5)]

In [9]:
list(itertools.combinations_with_replacement((2, 3, 5), 3))

[(2, 2, 2),
 (2, 2, 3),
 (2, 2, 5),
 (2, 3, 3),
 (2, 3, 5),
 (2, 5, 5),
 (3, 3, 3),
 (3, 3, 5),
 (3, 5, 5),
 (5, 5, 5)]

In [13]:
[t
 for n in range(4)
 for t in itertools.combinations_with_replacement((2, 3, 5), n)]

[(),
 (2,),
 (3,),
 (5,),
 (2, 2),
 (2, 3),
 (2, 5),
 (3, 3),
 (3, 5),
 (5, 5),
 (2, 2, 2),
 (2, 2, 3),
 (2, 2, 5),
 (2, 3, 3),
 (2, 3, 5),
 (2, 5, 5),
 (3, 3, 3),
 (3, 3, 5),
 (3, 5, 5),
 (5, 5, 5)]

In [12]:
pp = sorted([int(np.prod(t))
            for n in range(4)
            for t in itertools.combinations_with_replacement((2, 3, 5), n)])
pp

[1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 15, 18, 20, 25, 27, 30, 45, 50, 75, 125]

In [14]:
np.prod?

Signature:
np.prod(
    a,
    axis=None,
    dtype=None,
    out=None,
    keepdims=<no value>,
    initial=<no value>,
    where=<no value>,
)
Docstring:
Return the product of array elements over a given axis.

Parameters
----------
a : array_like
    Input data.
axis : None or int or tuple of ints, optional
    Axis or axes along which a product is performed.  The default,
    axis=None, will calculate the product of all the elements in the
    input array. If axis is negative it counts from the last to the
    first axis.

    .. versionadded:: 1.7.0

    If axis is a tuple of ints, a product is performed on all of the
    axes specified in the tuple instead of a single axis or all the
    axes as before.
dtype : dtype, optional
    The type of the returned array, as well as of the accumulator in
    which the elements are multiplied.  The dtype of `a` is used by
    default unless `a` has an integer dtype of less precision than the
    default platform integer.  In that case, if `a` is signed then the
    platform integer is used while if `a` is unsigned then an unsigned
    integer of the same precision as the platform integer is used.
out : ndarray, optional
    Alternative output array in which to place the result. It must have
    the same shape as the expected output, but the type of the output
    values will be cast if necessary.
keepdims : bool, optional
    If this is set to True, the axes which are reduced are left in the
    result as dimensions with size one. With this option, the result
    will broadcast correctly against the input array.

    If the default value is passed, then `keepdims` will not be
    passed through to the `prod` method of sub-classes of
    `ndarray`, however any non-default value will be.  If the
    sub-class' method does not implement `keepdims` any
    exceptions will be raised.
initial : scalar, optional
    The starting value for this product. See `~numpy.ufunc.reduce` for details.

    .. versionadded:: 1.15.0

where : array_like of bool, optional
    Elements to include in the product. See `~numpy.ufunc.reduce` for details.

    .. versionadded:: 1.17.0

Returns
-------
product_along_axis : ndarray, see `dtype` parameter above.
    An array shaped as `a` but with the specified axis removed.
    Returns a reference to `out` if specified.

See Also
--------
ndarray.prod : equivalent method
:ref:`ufuncs-output-type`

Notes
-----
Arithmetic is modular when using integer types, and no error is
raised on overflow.  That means that, on a 32-bit platform:

>>> x = np.array([536870910, 536870910, 536870910, 536870910])
>>> np.prod(x)
16 # may vary

The product of an empty array is the neutral element 1:

>>> np.prod([])
1.0

Examples
--------
By default, calculate the product of all elements:

>>> np.prod([1.,2.])
2.0

Even when the input array is two-dimensional:

>>> np.prod([[1.,2.],[3.,4.]])
24.0

But we can also specify the axis over which to multiply:

>>> np.prod([[1.,2.],[3.,4.]], axis=1)
array([  2.,  12.])

Or select specific elements to include:

>>> np.prod([1., np.nan, 3.], where=[True, False, True])
3.0

If the type of `x` is unsigned, then the output type is
the unsigned platform integer:

>>> x = np.array([1, 2, 3], dtype=np.uint8)
>>> np.prod(x).dtype == np.uint
True

If `x` is of a signed integer type, then the output type
is the default platform integer:

>>> x = np.array([1, 2, 3], dtype=np.int8)
>>> np.prod(x).dtype == int
True

You can also start the product with a value other than one:

>>> np.prod([1, 2], initial=5)
10
File:      /opt/conda/lib/python3.10/site-packages/numpy/core/fromnumeric.py
Type:      function

### 合成数の組み合わせ (直積) を作る

In [15]:
pp = sorted([int(np.prod(t))
            for n in range(3)
            for t in itertools.combinations_with_replacement((2, 3, 5), n)])
pp

[1, 2, 3, 4, 5, 6, 9, 10, 15, 25]

In [16]:
list(itertools.product(pp, repeat=2))

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 9),
 (1, 10),
 (1, 15),
 (1, 25),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 9),
 (2, 10),
 (2, 15),
 (2, 25),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 9),
 (3, 10),
 (3, 15),
 (3, 25),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 9),
 (4, 10),
 (4, 15),
 (4, 25),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 9),
 (5, 10),
 (5, 15),
 (5, 25),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 9),
 (6, 10),
 (6, 15),
 (6, 25),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 9),
 (9, 10),
 (9, 15),
 (9, 25),
 (10, 1),
 (10, 2),
 (10, 3),
 (10, 4),
 (10, 5),
 (10, 6),
 (10, 9),
 (10, 10),
 (10, 15),
 (10, 25),
 (15, 1),
 (15, 2),
 (15, 3),
 (15, 4),
 (15, 5),
 (15, 6),
 (15, 9),
 (15, 10),
 (15, 15),
 (15, 25),
 (25, 1),
 (25, 2),
 (25, 3),
 (25, 4),
 (25, 5),
 (25, 6),
 (25, 9),
 (25, 10),
 (25, 15),
 (25, 25)]

In [17]:
len(pp), len(_)

(10, 100)

### 互いに素なものだけ抽出する

In [20]:
pq = sorted([(p, q) for p, q in itertools.product(pp, repeat=2)
            if p/q >= 9/5 and p/q <= 12/5 and math.gcd(p, q) == 1],
            reverse=True, key=lambda x: x[0]/x[1])

### 数表の式に当てはめる

In [22]:
for p, q in pq:
    a = 2 * p * q
    b = p**2 - q**2
    d = p**2 + q**2
    print(format((d/a)**2, '#04f'), b, d)

1.815008 65 97
1.562500 3 5
1.387160 56 106

Plimpton 322の最も左のカラム:

$$\left( \frac{d}{a} \right)^2 = \frac{p^2+q^2}{2pq} 
  = \frac{1}{2}\left( \frac{p}{q} + \frac{q}{p} \right)$$

$p > q$ のとき、$\frac{p}{q}>1$ かつ $\frac{q}{p} < 1$ が成り立つ

In [23]:
import pandas as pd

In [24]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/Plimpton_322')

In [25]:
dfs[1]

             or Short Side Diagonal  Row #
0   (1).9834028        119      169      1
1   (1).9491586       3367     4825      2
2   (1).9188021       4601     6649      3
3   (1).8862479      12709    18541      4
4   (1).8150077         65       97      5
5   (1).7851929        319      481      6
6   (1).7199837       2291     3541      7
7   (1).6927094        799     1249      8
8   (1).6426694        481      769      9
9   (1).5861226       4961     8161     10
10     (1).5625        45*      75*     11
11  (1).4894168       1679     2929     12
12  (1).4500174        161      289     13
13  (1).4302388       1771     3229     14
14  (1).3871605        56*     106*     15

## 課題

どこまで探索範囲を広げるとPlimpton 322の数表が埋まるか試してみる