# Ë™≤È°å

## ÁµÑ„ÅøÂêà„Çè„Åõ: „Éî„Çø„Ç¥„É©„Çπ„ÅÆ‰∏âÊï∞

* [Pythagorean triple - Wikipedia](https://en.wikipedia.org/wiki/Pythagorean_triple)
    - [„Éî„Çø„Ç¥„É©„ÇπÊï∞„ÅÆÊ±Ç„ÇÅÊñπ„Å®„Åù„ÅÆË®ºÊòé | È´òÊ†°Êï∞Â≠¶„ÅÆÁæé„Åó„ÅÑÁâ©Ë™û](https://manabitimes.jp/math/661)
    - [Plimpton 322 - Wikipedia](https://en.wikipedia.org/wiki/Plimpton_322)

Ê≠£„ÅÆÊï¥Êï∞ $p$, $q$ $(p>q)$ „Å´ÂØæ„Åó„Å¶„ÄÅ

$$
  \begin{align}
    a & =  2 p q \\
    b & =  p^2 - q^2\\
    d & =  p^2 + q^2\\
  \end{align}
$$

„Å®„Åä„Åè„Å®„ÄÅ$a$, $b$, $d$ „ÅØ„Éî„Çø„Ç¥„É©„Çπ„ÅÆ‰∏âÊï∞„Å®„Å™„Çä„ÄÅ$a^2+b^2 = d^2$ „ÇíÊ∫Ä„Åü„Åô„ÄÇ

Ëß£) ÊÅíÁ≠âÂºè

$$
  (x-y)^2 = (x+y)^2 - 4xy
$$

„Å´ÂØæ„Åó„Å¶ $x=p^2$, $y=q^2$ „Å®„Åä„ÅÑ„Å¶ $p$, $q$ „ÇíÊ∂àÂéª„Åô„Çã„ÄÇ

$$
  \begin{align}
    (p^2-q^2)^2 &= (p^2+q^2)^2 - 4p^2q^2 \\
    b^2 &= d^2 - a^2
  \end{align}
$$

## Plimpton 322„ÅÆÊï∞Ë°®„ÇíÁîüÊàê„Åô„Çã

In [2]:
import itertools
import math
import numpy as np

### 60ÈÄ≤Ê≥ï„ÅÆÂü∫Êï∞„ÇíÁµÑ„ÅøÂêà„Çè„Åõ„ÅüÂêàÊàêÊï∞„ÇíÁîüÊàê„Åô„Çã

* [Composite number - Wikipedia](https://en.wikipedia.org/wiki/Composite_number)

In [2]:
list(itertools.combinations_with_replacement((2, 3, 5), 0))

[()]

In [3]:
list(itertools.combinations_with_replacement((2, 3, 5), 1))

[(2,), (3,), (5,)]

In [4]:
list(itertools.combinations_with_replacement((2, 3, 5), 2))

[(2, 2), (2, 3), (2, 5), (3, 3), (3, 5), (5, 5)]

In [5]:
list(itertools.combinations_with_replacement((2, 3, 5), 3))

[(2, 2, 2),
 (2, 2, 3),
 (2, 2, 5),
 (2, 3, 3),
 (2, 3, 5),
 (2, 5, 5),
 (3, 3, 3),
 (3, 3, 5),
 (3, 5, 5),
 (5, 5, 5)]

In [6]:
[t
 for n in range(4)
 for t in itertools.combinations_with_replacement((2, 3, 5), n)]

[(),
 (2,),
 (3,),
 (5,),
 (2, 2),
 (2, 3),
 (2, 5),
 (3, 3),
 (3, 5),
 (5, 5),
 (2, 2, 2),
 (2, 2, 3),
 (2, 2, 5),
 (2, 3, 3),
 (2, 3, 5),
 (2, 5, 5),
 (3, 3, 3),
 (3, 3, 5),
 (3, 5, 5),
 (5, 5, 5)]

In [7]:
pp = sorted([int(np.prod(t))
            for n in range(4)
            for t in itertools.combinations_with_replacement((2, 3, 5), n)])
pp

[1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 15, 18, 20, 25, 27, 30, 45, 50, 75, 125]

In [8]:
np.prod?

Signature:
np.prod(
    a,
    axis=None,
    dtype=None,
    out=None,
    keepdims=<no value>,
    initial=<no value>,
    where=<no value>,
)
Docstring:
Return the product of array elements over a given axis.

Parameters
----------
a : array_like
    Input data.
axis : None or int or tuple of ints, optional
    Axis or axes along which a product is performed.  The default,
    axis=None, will calculate the product of all the elements in the
    input array. If axis is negative it counts from the last to the
    first axis.

    .. versionadded:: 1.7.0

    If axis is a tuple of ints, a product is performed on all of the
    axes specified in the tuple instead of a single axis or all the
    axes as before.
dtype : dtype, optional
    The type of the returned array, as well as of the accumulator in
    which the elements are multiplied.  The dtype of `a` is used by
    default unless `a` has an integer dtype of less precision than the
    default platform integer.  In that case, if `a` is signed then the
    platform integer is used while if `a` is unsigned then an unsigned
    integer of the same precision as the platform integer is used.
out : ndarray, optional
    Alternative output array in which to place the result. It must have
    the same shape as the expected output, but the type of the output
    values will be cast if necessary.
keepdims : bool, optional
    If this is set to True, the axes which are reduced are left in the
    result as dimensions with size one. With this option, the result
    will broadcast correctly against the input array.

    If the default value is passed, then `keepdims` will not be
    passed through to the `prod` method of sub-classes of
    `ndarray`, however any non-default value will be.  If the
    sub-class' method does not implement `keepdims` any
    exceptions will be raised.
initial : scalar, optional
    The starting value for this product. See `~numpy.ufunc.reduce` for details.

    .. versionadded:: 1.15.0

where : array_like of bool, optional
    Elements to include in the product. See `~numpy.ufunc.reduce` for details.

    .. versionadded:: 1.17.0

Returns
-------
product_along_axis : ndarray, see `dtype` parameter above.
    An array shaped as `a` but with the specified axis removed.
    Returns a reference to `out` if specified.

See Also
--------
ndarray.prod : equivalent method
:ref:`ufuncs-output-type`

Notes
-----
Arithmetic is modular when using integer types, and no error is
raised on overflow.  That means that, on a 32-bit platform:

>>> x = np.array([536870910, 536870910, 536870910, 536870910])
>>> np.prod(x)
16 # may vary

The product of an empty array is the neutral element 1:

>>> np.prod([])
1.0

Examples
--------
By default, calculate the product of all elements:

>>> np.prod([1.,2.])
2.0

Even when the input array is two-dimensional:

>>> np.prod([[1.,2.],[3.,4.]])
24.0

But we can also specify the axis over which to multiply:

>>> np.prod([[1.,2.],[3.,4.]], axis=1)
array([  2.,  12.])

Or select specific elements to include:

>>> np.prod([1., np.nan, 3.], where=[True, False, True])
3.0

If the type of `x` is unsigned, then the output type is
the unsigned platform integer:

>>> x = np.array([1, 2, 3], dtype=np.uint8)
>>> np.prod(x).dtype == np.uint
True

If `x` is of a signed integer type, then the output type
is the default platform integer:

>>> x = np.array([1, 2, 3], dtype=np.int8)
>>> np.prod(x).dtype == int
True

You can also start the product with a value other than one:

>>> np.prod([1, 2], initial=5)
10
File:      /opt/conda/lib/python3.10/site-packages/numpy/core/fromnumeric.py
Type:      function

### ÂêàÊàêÊï∞„ÅÆÁµÑ„ÅøÂêà„Çè„Åõ (Áõ¥Á©ç) „Çí‰Ωú„Çã

In [3]:
pp = sorted([int(np.prod(t))
            for n in range(3)
            for t in itertools.combinations_with_replacement((2, 3, 5), n)])
pp

[1, 2, 3, 4, 5, 6, 9, 10, 15, 25]

In [4]:
list(itertools.product(pp, repeat=2))

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 9),
 (1, 10),
 (1, 15),
 (1, 25),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 9),
 (2, 10),
 (2, 15),
 (2, 25),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 9),
 (3, 10),
 (3, 15),
 (3, 25),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 9),
 (4, 10),
 (4, 15),
 (4, 25),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 9),
 (5, 10),
 (5, 15),
 (5, 25),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 9),
 (6, 10),
 (6, 15),
 (6, 25),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 9),
 (9, 10),
 (9, 15),
 (9, 25),
 (10, 1),
 (10, 2),
 (10, 3),
 (10, 4),
 (10, 5),
 (10, 6),
 (10, 9),
 (10, 10),
 (10, 15),
 (10, 25),
 (15, 1),
 (15, 2),
 (15, 3),
 (15, 4),
 (15, 5),
 (15, 6),
 (15, 9),
 (15, 10),
 (15, 15),
 (15, 25),
 (25, 1),
 (25, 2),
 (25, 3),
 (25, 4),
 (25, 5),
 (25, 6),
 (25, 9),
 (25, 10),
 (25, 15),
 (25, 25)]

In [5]:
len(pp), len(_)

(10, 100)

### ‰∫í„ÅÑ„Å´Á¥†„Å™„ÇÇ„ÅÆ„Å†„ÅëÊäΩÂá∫„Åô„Çã

In [6]:
pq = sorted([(p, q) for p, q in itertools.product(pp, repeat=2)
            if p/q >= 9/5 and p/q <= 12/5 and math.gcd(p, q) == 1],
            reverse=True, key=lambda x: x[0]/x[1])

### Êï∞Ë°®„ÅÆÂºè„Å´ÂΩì„Å¶„ÅØ„ÇÅ„Çã

In [7]:
for p, q in pq:
    a = 2 * p * q
    b = p**2 - q**2
    d = p**2 + q**2
    print(format((d/a)**2, '#04f'), b, d)

1.815008 65 97
1.562500 3 5
1.387160 56 106

Plimpton 322„ÅÆÊúÄ„ÇÇÂ∑¶„ÅÆ„Ç´„É©„É†:

$$\left( \frac{d}{a} \right)^2 = \frac{p^2+q^2}{2pq} 
  = \frac{1}{2}\left( \frac{p}{q} + \frac{q}{p} \right)$$

$p > q$ „ÅÆ„Å®„Åç„ÄÅ$\frac{p}{q}>1$ „Åã„Å§ $\frac{q}{p} < 1$ „ÅåÊàê„ÇäÁ´ã„Å§

In [17]:
import pandas as pd

In [18]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/Plimpton_322')

In [19]:
dfs[1]

             or Short Side Diagonal  Row #
0   (1).9834028        119      169      1
1   (1).9491586       3367     4825      2
2   (1).9188021       4601     6649      3
3   (1).8862479      12709    18541      4
4   (1).8150077         65       97      5
5   (1).7851929        319      481      6
6   (1).7199837       2291     3541      7
7   (1).6927094        799     1249      8
8   (1).6426694        481      769      9
9   (1).5861226       4961     8161     10
10     (1).5625        45*      75*     11
11  (1).4894168       1679     2929     12
12  (1).4500174        161      289     13
13  (1).4302388       1771     3229     14
14  (1).3871605        56*     106*     15

## Ë™≤È°å

„Å©„Åì„Åæ„ÅßÊé¢Á¥¢ÁØÑÂõ≤„ÇíÂ∫É„Åí„Çã„Å®Plimpton 322„ÅÆÊï∞Ë°®„ÅåÂüã„Åæ„Çã„ÅãË©¶„Åó„Å¶„Åø„Çã

## „Åä„Åæ„Åë

Ê•îÂΩ¢ÊñáÂ≠ó„ÅßË°®Á§∫„Åô„Çã

### Êï∞Â≠ó„ÅÆÂ§âÊèõËæûÊõ∏„Çí‰Ωú„ÇäÁøªË®≥„Åô„ÇãÈñ¢Êï∞„ÇíÂÆöÁæ©„Åô„Çã

In [9]:
babylonian_numerals = {}
for i in range(1, 10):
    # print(i, chr(ord('\U00012415')-1+i))
    babylonian_numerals[i] = chr(ord('\U00012415')-1+i)

babylonian_numerals[10] = u'\U0001230B'
babylonian_numerals[20] = u'\U00012399'
babylonian_numerals[30] = u'\U0001230D'
babylonian_numerals[40] = u'\U0001240F'
babylonian_numerals[50] = u'\U00012410'

babylonian_numerals

{1: 'íêï',
 2: 'íêñ',
 3: 'íêó',
 4: 'íêò',
 5: 'íêô',
 6: 'íêö',
 7: 'íêõ',
 8: 'íêú',
 9: 'íêù',
 10: 'íåã',
 20: 'íéô',
 30: 'íåç',
 40: 'íêè',
 50: 'íêê'}

In [10]:
def decimal_to_babylonian(num):
    result = ''
    for value in sorted(babylonian_numerals.keys(), reverse=True):
        while num >= value:
            result += babylonian_numerals[value]
            num -= value
    return result

In [11]:
decimal_to_babylonian(33)

'íåçíêó'

### 10ÈÄ≤Êï∞„Çí60ÈÄ≤Êï∞„Å´Â§âÊèõ„Åô„ÇãÈñ¢Êï∞„ÇíÂÆöÁæ©„Åô„Çã

In [19]:
%%ai_ask
python„Åß10ÈÄ≤Êï∞„ÅÆÂÆüÊï∞„Çí60ÈÄ≤Êï∞„Å´Â§âÊèõ„Åô„Çã„ÄÇ„Åü„Å†„Åó„ÄÅ0„Åã„Çâ59„Åæ„Åß„ÅÆÊï∞Â≠ó„ÅÆ„É™„Çπ„Éà„ÇíÂá∫Âäõ„Åô„Çã„ÄÇ

‰ª•‰∏ã„ÅÆ„Çà„ÅÜ„Å™„Ç≥„Éº„Éâ„Åß10ÈÄ≤Êï∞„ÅÆÂÆüÊï∞„Çí60ÈÄ≤Êï∞„Å´Â§âÊèõ„Åó„ÄÅ0„Åã„Çâ59„Åæ„Åß„ÅÆÊï∞Â≠ó„ÅÆ„É™„Çπ„Éà„ÇíÂá∫Âäõ„Åß„Åç„Åæ„Åô„ÄÇ

```python
def decimal_to_sexagesimal(decimal):
    integer_part = int(decimal)
    fractional_part = decimal - integer_part
    sexagesimal_integer = []
    while integer_part > 0:
        remainder = integer_part % 60
        sexagesimal_integer.append(remainder)
        integer_part //= 60
    sexagesimal_integer.reverse()
    sexagesimal_fractional = []
    while fractional_part > 0 and len(sexagesimal_fractional) < 10:
        product = fractional_part * 60
        integer_part = int(product)
        sexagesimal_fractional.append(integer_part)
        fractional_part = product - integer_part
    return sexagesimal_integer, sexagesimal_fractional
```

„Åì„ÅÆÈñ¢Êï∞„Çí‰ª•‰∏ã„ÅÆ„Çà„ÅÜ„Å´Âëº„Å≥Âá∫„Åô„Åì„Å®„Åß„ÄÅ10ÈÄ≤Êï∞„ÅÆÂÆüÊï∞„Çí60ÈÄ≤Êï∞„Å´Â§âÊèõ„Åó„ÄÅ0„Åã„Çâ59„Åæ„Åß„ÅÆÊï∞Â≠ó„ÅÆ„É™„Çπ„Éà„ÇíÂá∫Âäõ„Åß„Åç„Åæ„Åô„ÄÇ

```python
decimal_to_sexagesimal(3.14159)
```

Âá∫ÂäõÁµêÊûú„ÅØ‰ª•‰∏ã„ÅÆ„Çà„ÅÜ„Å´„Å™„Çä„Åæ„Åô„ÄÇ

```
([3, 8, 29, 35, 44], [29, 30, 35, 59, 59, 59, 99, 99, 99, 99])
```

In [26]:
def decimal_to_sexagesimal(decimal):
    integer_part = int(decimal)
    fractional_part = decimal - integer_part
    sexagesimal_integer = []
    while integer_part > 0:
        remainder = integer_part % 60
        sexagesimal_integer.append(remainder)
        integer_part //= 60
    sexagesimal_integer.reverse()
    sexagesimal_fractional = []
    while fractional_part > 0 and len(sexagesimal_fractional) < 10:
        product = fractional_part * 60
        integer_part = int(product)
        sexagesimal_fractional.append(integer_part)
        fractional_part = product - integer_part
    return sexagesimal_integer, sexagesimal_fractional

### Êï∞Ë°®„ÇíÊé¢Á¥¢ÁöÑ„Å´‰ΩúÊàê„Åô„Çã

In [27]:
for p, q in pq:
    a = 2 * p * q
    b = p**2 - q**2
    d = p**2 + q**2
    print(format((d/a)**2, '#04f'), b, d)

1.815008 65 97
1.562500 3 5
1.387160 56 106

In [28]:
for p, q in pq:
    a = 2 * p * q
    b = p**2 - q**2
    d = p**2 + q**2
    print(list(map(decimal_to_sexagesimal, ((d/a)**2, b, d))))

[([1], [48, 54, 1, 40, 0, 0, 0, 0, 2, 12]), ([1, 5], []), ([1, 37], [])]
[([1], [33, 45]), ([3], []), ([5], [])]
[([1], [23, 13, 46, 40, 0, 0, 0, 0, 2, 3]), ([56], []), ([1, 46], [])]

In [20]:
dfs[0]

,takiltum of the diagonal from which 1 is torn out so that the width comes up,√çB.SI8 of the width,√çB.SI8 of the diagonal,its line
0,(1) 59 00 15,1 59,2 49,1st
1,(1) 56 56 58 14 56 15 (1) 56 56 58 14 [50 06] 15,56 07,3 12 01 [1 20 25],2nd
2,(1) 55 07 41 15 33 45,1 16 41,1 50 49,3rd
3,(1) 53 10 29 32 52 16,3 31 49,5 09 01,4th
4,(1) 48 54 01 40,1 05,1 37,5th
5,(1) 47 06 41 40,5 19,8 01,6th
6,(1) 43 11 56 28 26 40,38 11,59 01,7th
7,(1) 41 33 59 03 45 (1) 41 33 [45 14] 03 45,13 19,20 49,8th
8,(1) 38 33 36 36,9 01 [8] 01,12 49,9th
9,(1) 35 10 02 28 27 24 26 40,1 22 41,2 16 01,10th
10,(1) 33 45,45,1 15,11th
11,(1) 29 21 54 02 15,27 59,48 49,12th
12,(1) 27 00 03 45,7 12 01 [2 41],4 49,13th
13,(1) 25 48 51 35 06 40,29 31,53 49,14th
14,(1) 23 13 46 40,56 56 [28] (alt.),53 [1 46] 53 (alt.),15th

### Ê•îÂΩ¢ÊñáÂ≠ó„Å´ÁøªË®≥„Åô„Çã

In [32]:
import itertools

In [51]:
for p, q in pq:
    a = 2 * p * q
    b = p**2 - q**2
    d = p**2 + q**2
    print(list(map(lambda x: list(map(decimal_to_babylonian, itertools.chain.from_iterable(decimal_to_sexagesimal(x)))), ((d/a)**2, b, d))))

[['íêï', 'íêèíêú', 'íêêíêò', 'íêï', 'íêè', '', '', '', '', 'íêñ', 'íåãíêñ'], ['íêï', 'íêô'], ['íêï', 'íåçíêõ']]
[['íêï', 'íåçíêó', 'íêèíêô'], ['íêó'], ['íêô']]
[['íêï', 'íéôíêó', 'íåãíêó', 'íêèíêö', 'íêè', '', '', '', '', 'íêñ', 'íêó'], ['íêêíêö'], ['íêï', 'íêèíêö']]

![fig-3](./fig-3.jpeg)